<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quezee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Quezee.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedVideoId" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowDownloadWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.1 Alpha</value>
            </setting>
            <setting name="SelectedVideoTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="Favorites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="JackServerAddress" serializeAs="String">
                <value>rem.quezee.org</value>
            </setting>
        </Quezee.Properties.Settings>
    </userSettings>
</configuration>